{% load static %}
<footer class="footer sm:footer-horizontal bg-white text-base-content p-10">
  <aside>
    <img src="{% static 'images/yami-logo.png' %}" alt="YAMI Logo" width="72" height="72" loading="lazy" decoding="async" style="height:72px; width:72px; object-fit:contain; margin-right:10px;">
    <strong>Appliances For The Next Billion</strong>
    <p>
      Powerpay Africa Limited.
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Company</h6>
    <a href="https://powerpayafrica.com" class="link link-hover" target="_blank">About us</a>
    
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
  </nav>
</footer>
