{% load static %}
<footer class="footer sm:footer-horizontal bg-white text-base-content p-10">
  <aside>
    <img src="{% static 'images/pplogo.png' %}" alt="PowerPay Logo" style="height:45px; margin-right:10px;">
    <p>
      Powerpay Africa Limited.
      <br />
      Appliance For The Next Billion
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Company</h6>
    <a href="https://powerpayafrica.com" class="link link-hover" target="_blank">About us</a>
    
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
  </nav>
</footer>