{% load static %}
<!-- NAVBAR -->
<nav class="w-full bg-white flex items-center justify-between px-6 py-4 shadow-md">
    <a href="/" style="display:flex; align-items:center; text-decoration:none;">
        <img src="{% static 'images/pplogo.png' %}" alt="PowerPay Logo" style="height:45px; margin-right:10px;">
    </a>

    <div class="flex items-center gap-12">
        {% if user.is_authenticated %}
            <a href="{% url 'wishlist_page' %}" class="relative cursor-pointer" title="see favourites"
            class="relative flex items-center gap-2 text-gray-700 hover:text-red-500 transition">

                <i class="fa-solid fa-heart text-2xl text-green-600 hover:text-orange-500 transition"></i>

                {% if wishlist_count > 0 %}
                <span class="badge badge-md bg-orange-500 text-white font-semibold text-center absolute -top-2 left-5 rounded-full w-6 h-6">
                    {{ wishlist_count }}
                </span>
                {% endif %}
            </a>
            <!-- CART BUTTON -->
            <a href="{% url 'view_cart' %}" class="relative cursor-pointer" title="view cart">
                <i class="fa-solid fa-cart-shopping text-2xl text-green-600 hover:text-orange-500 transition"></i>

                {% if cart_item_count > 0 %}
                <span class="badge badge-md bg-orange-500 text-white font-semibold text-center absolute -top-2 left-5 rounded-full w-6 h-6">
                    {{ cart_item_count }}
                </span>
                {% endif %}
            </a>
            
            <!-- notifications dropdown -->
            <div class="relative">
                <button 
                    id="notifDropdownBtn"
                    class="relative text-green-600 hover:text-orange-500 text-2xl focus:outline-none"
                    hx-get="{% url 'notifications:dropdown' %}"
                    hx-trigger="click"
                    hx-target="#notifDropdown"
                    hx-swap="innerHTML">
                    <i class="fa-solid fa-bell"></i>

                    {% if unread_notif_count > 0 %}
                    <span id="notifCount"
                        class="badge badge-md bg-orange-500 text-white text-lg font-semibold text-center absolute -top-2 left-5 rounded-full w-6 h-6"
                        hx-get="{% url 'notifications:unread_count' %}"
                        hx-swap="innerHTML"
                        hx-trigger="refresh">
                        {{ unread_notif_count }}
                    </span>
                    {% endif %}

                </button>

                <!-- Dropdown container -->
                <div id="notifDropdown" class="absolute right-0 mt-2 w-80 bg-white border rounded-lg shadow-lg z-50 hidden">
                    <!-- loaded via HTMX -->
                </div>
            </div>

            {% include 'shop/avatar.html' %}
        {% else %}
            <a href="{% url 'login' %}" class="text-green-600 font-semibold hover:text-orange-500">Login</a>
            <a href="{% url 'register' %}" class="ml-2 text-green-600 font-semibold hover:text-orange-500">Sign Up</a>
        {% endif %}
    </div>
</nav>