<!-- PRODUCTS GRID -->
 {% load humanize %}
 <div id="productsGrid">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        {% for product in products %}
        <div class="card bg-white shadow-md rounded-xl p-3 flex flex-col relative">

            <!-- PRODUCT IMAGE -->
            {% if product.image %}
            <img src="{{ product.image.url }}" class="rounded-lg w-full max-h-48 object-contain bg-white">
            {% endif %}

            <!-- TITLE -->
            <h2 class="text-lg font-semibold text-gray-700 mb-4 truncate">
                <i class="fa-solid fa-tag m-1"></i>{{ product.name }}
            </h2>

            <!-- DESCRIPTION -->
            <p class="text-gray-500 text-sm mb-2 line-clamp-2">
                <i class="fa-solid fa-circle-info m-1"></i>{{ product.description }}
            </p>

            <!-- PRICE -->
            <p class="text-green-600 font-bold mb-2">
                <i class="fa-solid fa-hand-holding-dollar m-1"></i>
                Price: Ksh. {{ product.price|intcomma }}
            </p>

            <!-- VENDOR WITH MODAL -->
            <p class="text-orange-500 mb-2 font-bold flex items-center text-sm">
                <span>
                    <i class="fa-solid fa-shop m-1"></i>Vendor:
                    {{ product.vendor.shop_name|default:product.vendor.user }}
                </span>
                <button onclick="vendorModal_{{ product.id }}.showModal()"
                    class="text-sm bg-orange-500 text-white px-2 py-1 rounded-xl hover:bg-orange-700 transition ml-2"
                    title="Click to see vendor profile">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
            </p>

            {% include 'shop/vendor_modal.html' %}

            <!-- RATING -->
            <div class="flex items-center gap-1 m-1 text-yellow-500">
                {% for i in "12345" %}
                    {% if forloop.counter <= product.average_rating %}
                        <i class="fa-solid fa-star"></i>
                    {% else %}
                        <i class="fa-regular fa-star"></i>
                    {% endif %}
                {% endfor %}
                <span class="text-gray-600 text-xs ml-1">{{ product.rating_count }} reviews</span>
            </div>

            <!-- Stock Status -->
            <div class="w-full mt-3 mb-2">
                <div class="flex justify-between mb-1">
                    <span class="text-green-600 font-medium">Items Remaining</span>
                    <span class="text-green-600 font-medium">{{ product.stock }} / {{ product.max_stock }}</span>
                </div>
                <div class="w-full bg-gray-300 rounded-full h-2">
                    <div class="bg-green-600 h-2 rounded-full text-center" style="width: {{ product.stock_percentage }}%"></div>
                </div>
            </div>


            <!-- WISHLIST BUTTON -->
            {% if is_authenticated %}
            <form method="POST" action="{% url 'toggle_wishlist' product.id %}" class="absolute top-3 right-3">
                {% csrf_token %}
                <button type="submit" class="p-2 rounded-full bg-white shadow hover:bg-red-50 transition">
                    {% if product.id in wishlist_items %}
                        <i class="fa-solid fa-heart text-red-500 text-lg"></i>
                    {% else %}
                        <i class="fa-regular fa-heart text-gray-600 text-lg"></i>
                    {% endif %}
                </button>
            </form>
            {% endif %}

            <div class="flex flex-col md:flex-row gap-2 mt-2">
                <!-- ADD TO CART -->
                {% if is_authenticated %}
                <form method="POST" action="{% url 'add_to_cart' product.id %}" class="flex-1">
                    {% csrf_token %}
                    <button class="w-full h-full flex items-center justify-center gap-1 bg-green-600 text-white rounded-lg py-2 text-xs font-semibold hover:bg-green-700 transition">
                        <i class="fa-solid fa-cart-plus"></i> Add to Cart
                    </button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="flex-1 h-full flex items-center justify-center gap-2 bg-yellow-400 text-white py-2 rounded-lg text-xs font-semibold hover:bg-yellow-500 transition">
                    <i class="fa-solid fa-cart-plus"></i> Add to Cart
                </a>
                {% endif %}

                <!-- VIEW PRODUCT BUTTON -->
                <a href="{% url 'product_detail' product.id %}" class="flex-1 h-full flex items-center justify-center gap-2 bg-orange-500 text-white py-2 rounded-lg text-xs font-semibold hover:bg-orange-600 transition">
                    <i class="fa-solid fa-eye"></i> View Product
                </a>
            </div>
        </div>
        {% empty %}
        <p class="text-gray-500">No products found.</p>
        {% endfor %}

    </div>
</div>
